.navbar
  .navbar-inner
    .left
      a(href='repairs/repair-2.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Rate

.pages
  div(data-page='rate' class='page')
    .page-content
      .content-block-title Tell us about your experience
      .list-block.inset
        ul
          li
            .item-content
              .item-media #[i.material-icons stars]
              .item-inner
                .item-title.label Rating
                .item-input
                  .range-slider
                    input(type='range' min='0' max='100' value='60' step='0.1')
          li
            .item-content
              .item-media #[i.material-icons access_time]
              .item-inner
                .item-title.label On Time
                .item-input
                  label.label-switch
                    input(type='checkbox')
                    .checkbox
          li
            .item-content
              .item-media #[i.material-icons check_box]
              .item-inner
                .item-title.label Recommend
                .item-input
                  label.label-switch
                    input(type='checkbox')
                    .checkbox
          li.align-top
            .item-content
              .item-media #[i.material-icons mode_editf]
              .item-inner
                .item-input
                  textarea(
                    placeholder='I really liked working with this service provider, everything worked out pretty well. I definitely recommend it to anyone else!'
                    style='height: 125px')
          li
            .item-content
              .item-media #[i.material-icons insert_photo]
              .item-inner
                .item-title.label Insert Photo
      .content-block
        a(
          href='repairs/repair-2.html'
          class='button button-big button-fill'
          style='background: #3AA64C' ) Submit
