.navbar
  .navbar-inner
    .left
      a(href='service-providers/sp-1.html' class='link')
        i.icon.icon-back
        span Cancel
    .center.sliding Contact Us

.pages
  div(data-page='schedule-service' class='page')
    .page-content
      .content-block

        .content-block-title Type Your Message Below
        .list-block
          ul
            li.align-top
              .item-content
                .item-media #[i.icon.icon-form-comment]
                .item-inner
                  //.item-title.label Message Box
                  .item-input
                    textarea(
                      placeholder='Yoo my phone broke, cant check my facebook, dont know what to do, ughh!'
                      style='height: 300px')

      .row
        .col-50
          a(  href='service-providers/sp-1.html'
              class='button button-big button-fill theme-lightblue'
              style='margin-left: 10px') Send Message
        .col-50
          a(  href='service-providers/sp-1.html'
              class='button button-big button-fill theme-red'
              style='margin-right: 10px') Cancel
