.navbar
  .navbar-inner
    .left
      a(href='service-providers/sp-1.html' class='link')
        i.icon.icon-back
        span Cancel
    .center.sliding Contact Us

.pages
  div(data-page='contact-us' class='page')
    .page-content
      //.content-block
      .content-block-title Type Your Message Below
      .list-block.inset
        ul
          li.align-top
            .item-content
              .item-media #[i.icon.icon-form-comment]
              .item-inner
                .item-input
                  textarea(
                    placeholder='Hello, I would like to find out more about your services!'
                    style='height: 300px')

      .content-block
        .row
          .col-50
            a(  href='service-providers/sp-1.html'
                id='btn-contact-us'
                class='button button-big button-fill theme-lightblue'
                style='margin-left: 10px; background: #3AA64C' ) Send Message
          .col-50
            a(  href='service-providers/sp-1.html'
                class='button button-big button-fill theme-red'
                style='background: #ff3b30') Cancel
