doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    title Customer

    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.min.css')
    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.colors.min.css')
    link(rel='stylesheet' href='styles/main.css')

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .center.sliding Service Providers

        .pages.navbar-through.toolbar-through
          div(data-page='index-main' class='page')
            form( class='searchbar searchbar-init'
                  data-search-list='.list-block-search'
                  data-search-in='.item-subtitle'
                  data-found='.searchbar-found'
                  data-not-found='.searchbar-not-found' )
              .searchbar-input
                input(type='search' placeholder='Search by location...')
                a(href='#' class='searchbar-clear')
              a(href='#' class='searchbar-cancel') Cancel

            .searchbar-overlay

            .page-content
              .content-block.searchbar-not-found
                .content-block-title No result found
                .content-block.inset
                  .content-block-inner.
                    Oops! Looks like no service providers are your area
                    of interest, please try a different location!

              .list-block.list-block-search.searchbar-found.media-list.inset
                ul
                  li
                    a(href='service-providers/sp-1.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Orada Tech: Phone Repair
                          .item-after 0.8m
                        .item-subtitle 82 Bethany Rd, Hazlet, NJ 07730
                        .item-text.
                          We specialize in reparing mobile phones including water
                          damage is a common...
                  li
                    a(href='service-providers/sp-2.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Geek Squad
                          .item-after 1m
                        .item-subtitle 2130 NJ-35, Holmdel, NJ 07733
                        .item-text.
                          Our Agents provide repair, installation and setup
                          services on all kinds of tech...
                  li
                    a(href='service-providers/sp-3.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Dr. P.C. Repair & Web...
                          .item-after 1.2m
                        .item-subtitle 37 Johnson Terrace, Hazlet, NJ 07734
                        .item-text.
                          Dr. PC Repair can get your computer repaired right
                          the first time and at...
                  li
                    a(href='service-providers/sp-4.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title MDrepairs | OEM Quality...
                          .item-after 2m
                        .item-subtitle 241 Main St, Matawan, NJ 07747
                        .item-text.
                          Our main focus is the quality of our
                          repairs, we ensure this by only using...
                  li
                    a(href='service-providers/sp-5.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Monmouth Stero Center
                          .item-after 4m
                        .item-subtitle 450 Board St, Shrewsbury, NJ 07702
                        .item-text.
                          Monmouth Stereo and video has been serving New
                          Jersey for over 40 years...
                  li
                    a(href='service-providers/sp-6.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Affordable Computer Repair
                          .item-after 8m
                        .item-subtitle 3091 NJ-35, Hazlet, NJ 07730
                        .item-text.
                          Service for all your multiple computer,
                          server and networking needs...
                  li
                    a(href='service-providers/sp-7.html' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title Smartfix Repairs
                          .item-after 14m
                        .item-subtitle 95 Page Ave, Staten Island, NY 10309
                        .item-text.
                          We are service providers for most smartphone,
                          tablet, and computer...

        .toolbar.tabbar.tabbar-labels
          .toolbar-inner
            a(href='index.html' class='link active')
              i.icon.material-icons home
              span.tabbar-label Home
            a(href='repairs.html' class='link')
              i.material-icons build
              span.tabbar-label Repairs
            a(href='notifications/notifications.html' class='link')
              i.material-icons notifications
              span.tabbar-label Notifications
            a(href='settings/settings.html' class='link')
              i.material-icons settings
              span.tabbar-label Settings

    script(src='../libs/Framework7/dist/js/framework7.min.js')
    script(src='js/main.min.js')
