doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    title Customer

    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.min.css')
    link(rel='stylesheet' href='../libs/Framework7/dist/css/framework7.ios.colors.min.css')
    link(rel='stylesheet' href='styles/main.css')

  body
    .views
      .view.view-main
        .navbar
          .navbar-inner
            .center.sliding Service Providers

        .pages.navbar-through.toolbar-through
          div(data-page='index-main' class='page')
            form( class='searchbar searchbar-init'
                  data-search-list='.list-block-search'
                  data-search-in='.item-subtitle'
                  data-found='.searchbar-found'
                  data-not-found='.searchbar-not-found' )
              .searchbar-input
                input(type='search' placeholder='Search by location...')
                a(href='#' class='searchbar-clear')
              a(href='#' class='searchbar-cancel') Cancel

            .searchbar-overlay

            .page-content
              .content-block.searchbar-not-found
                .content-block-title No result found
                .content-block.inset
                  .content-block-inner.
                    Oops! Looks like the number you provided was not found...
                    Please try again!

              .list-block.list-block-search.searchbar-found.media-list.inset
                ul
                  li
                    a(href='#' class='item-link item-content')
                      .item-inner
                        .item-title-row
                          .item-title iPhone 7 Plus
                          .item-after Nov 01, 2016
                        .item-subtitle 020103911
                        .item-text.
                          Broken or craked screen, water damage, microphone not working...
                  li
                    a(href='#' class='item-link item-content theme-inprogress')
                      .item-inner
                        .item-title-row
                          .item-title iPad 2 Mini
                          .item-after October 28, 2016
                        .item-subtitle 0480408202
                        .item-text.
                          Power or home button not working, speaker not working...
                  li
                    a(href='#' class='item-link item-content theme-inprogress')
                      .item-inner
                        .item-title-row
                          .item-title iPhone SE
                          .item-after October 27, 2016
                        .item-subtitle 1030410840
                        .item-text.
                          Volume controls not working, speaker not working, microphone not working...
                  li
                    a(href='#' class='item-link item-content theme-completed')
                      .item-inner
                        .item-title-row
                          .item-title iPhone 7
                          .item-after Sep 10, 2016
                        .item-subtitle 1093084810
                        .item-text.
                          Broken or craked screen, water damage, microphone not working...
                  li
                    a(href='#' class='item-link item-content theme-completed')
                      .item-inner
                        .item-title-row
                          .item-title iPad Air 2
                          .item-after Aug 28, 2016
                        .item-subtitle 1001801048
                        .item-text.
                          Power or home button not working, speaker not working...
                  li
                    a(href='#' class='item-link item-content theme-completed')
                      .item-inner
                        .item-title-row
                          .item-title Samsung Glaxy S5
                          .item-after July 1, 2016
                        .item-subtitle 2975027021
                        .item-text.
                          Volume controls not working, speaker not working, microphone not working..

        .toolbar.tabbar.tabbar-labels
          .toolbar-inner
            a(href='index.html' class='link active')
              i.icon.material-icons build
              span.tabbar-label Repairs
            a(href='#' class='link')
              i.material-icons notifications
              span.tabbar-label Notifications
            a(href='#' class='link')
              i.material-icons settings
              span.tabbar-label Settings

    script(src='../libs/Framework7/dist/js/framework7.min.js')
    script(src='js/main.min.js')
